@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=Lilita+One&display=swap');

body {
    background-color: #f8f9fa;
    background-image: url('../images/playafondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.conteiner-contratar {
    border-radius: 20px;
}


label {
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
}


input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #525252;
}

