@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&family=Lilita+One&display=swap');

.titulo-principal {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 60px;
}

.carousel-inner img {
    max-height: 300px;
    width: 100%; 
    object-fit: cover;
}


.nombre-navbar {
    padding: 5px;
    margin: 5px;
    font-size: 36px;
    color: rgb(255, 255, 255); 
    transition: text-shadow 0.3s ease-in-out; 
    text-shadow: 0 0 10px rgba(227, 171, 29, 0); 
    }
    
    .nombre-navbar:hover {
        text-shadow: 0 0 20px rgba(244, 181, 24, 0.8);
    }  

.nav-item {
    color: rgb(255, 255, 255); 
    text-shadow: 0 0 10px rgba(227, 171, 29, 0); 
}

.nav-item:hover {
    text-shadow: 0 0 20px rgba(244, 181, 24, 0.8);
} 


form {
    position: relative;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 9;
    padding: 30px;
    background: #ffffff;
}

.form-control, .custom-select {
    border: 2px solid #e9ecef;
    font-size: 16px;
    height: 45px;
}


.hero {
    padding:  12px 12px 0px;
    margin-bottom: auto;
}

.btn.btn-primary.btn-block {
    background-color: #151515;
    border-color: azure;
}

.btn.btn-primary.btn-block:hover {
    background-color: #525252;
    border-color: azure;
}

.fondo-formulario {
    background-color: #f7f4f4;
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}




